*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif
}

body{
    background-image:url("/assets/images/couts-stades-tottenham-stadium-scaled.jpg");
    background-repeat: no-repeat;
    background-size: contain;
  /*   position:relative;
    top:px; */
}

:root{
    --colorMain:#55CCA2;
}

nav{
    /* width:100%; */
    /* height:50px; */
    background-color:#3d3b3b;
    top:0;
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding:10px 160px;
    margin-bottom: 60px;

}



nav ul{
    list-style:none;
    display:flex;
    gap:70px;
}

nav ul li{
    /* display:inline; */
}

nav ul li a{
    text-decoration:none;
    color:#fff;
    font-size:18px;
}
nav h1{
    color:#fff;
}

nav input[type="search"]{
    padding:7px 30px 7px 6px;
    border-radius:12px;
    border:none;
    position:relative;
    margin-left:511px;
    border:2px solid var(--colorMain)
}

nav button {
    color:#000;
    padding:8px 16px;
    background-color: var(--colorMain);
    border:none;
    border-radius:4px;
    font-size:14px;
    cursor:pointer;
}

.contain-terrain{
  display:grid;
  grid-template-columns:2fr 1fr;
  gap:10px;
  margin:140px 8px;
  border:1px solid black;
  padding:12px 18px;
  width:auto;
  height:auto;
}

section .contain-terrain .terrain {
    position:relative;
    background-image:url("./images/terrain.svg");
    background-repeat:no-repeat;
    background-position: center;
    width:100%;
    height:100%;
    margin-top:20px;
    display:grid;
    grid-template-rows:repeat(3,1fr);
    row-gap:0.8rem;
    /* background-color: aqua; */

}

.terrain .position  {
    height: 144px;
    /* background-color: #a12d2d; */
    margin:-14px auto;
    display:flex;
    flex-flow:row nowrap;
    gap:6px;
    justify-content: space-between;
    align-items:center;
}

.terrain .position:nth-of-type(1) {
    width: 69%;
}

.terrain .position:nth-of-type(2) {
    width: 60%;
}

.terrain .position:nth-of-type(3) {
    width: 85%;
}

.terrain .position:nth-of-type(4) {
    width: 94%;
    justify-content:center;
}

.card-player{
    position:relative;
    width: 130px;
    height: 176px;
    /* padding:14px 2px 2px; */
    /* padding:18px 8px 8px 8px; */
    background-image:url("/assets/images/placeholder-card-normal-HQ.jpg");
    /* background-image:url("/assets/images/badge_gold.webp"); */
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor:pointer;
    transition: all 0.7s ease;
    /* background-color:red; */
}

.card-player .name-post{
    position:absolute;
    /* background-color: black; */
     background-image: url("./images/pos_base.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;;
    color:#fff;
    padding:16px;
    /* border-radius:40%; */
    font-size:14px;
    left:50%;
    transform: translate(-50%);
    bottom:-30px;
    z-index:4
}

.new-card-player{
    width:100%;
    display:grid;
    height:100%;
    grid-template-rows:50% 30% 12%; 
    row-gap:2px;
    color:#fff;
    /* padding:6px 2px 2px; */
    /* background-color: rgb(139, 150, 13); */
}

.image-name {
    /* background-color: green; */
    width: 100%;
    /* margin:0 auto; */
    display:flex;
    flex-direction: column-reverse;
    align-items:center;
    gap:2px;
    font-size:12px;
}

.info {
    background-color: rgba(245, 245, 245, 0.392);
    width: 90%;
    height:100%;
    margin:0 auto;
    padding:4px;
    border-radius:6px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content:center;
    gap:3px;
}

.info p{
    width:26%;
    /* background-color: red; */
    display:flex;
    flex-direction: column;
    align-items: center;
    font-size:8px;
}

.flags {
    /* background-color: pink; */
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}


.card-player:hover{
    filter:drop-shadow(0px  6px 10px var(--colorMain));
    /* box-shadow: 0 0 1px 1px var(--colorMain); */
}

.defenseur #GK{
    margin-top:8.8rem;
}

.defenseur #DF-1,#DF-4{
    margin-bottom:3rem;
}

.milieu #ML-2{
    margin-top:2.4rem;
}


/* Formation */
section .menu #formation{
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
    gap:22px;
    justify-content:center;
    align-items:center;
} 

/* style de h2 de formation */
section .menu #formation h2{
    letter-spacing:1px;
}

/* style du buuton de formation */
section .menu #formation #add-players{
    padding:14px;
    width:60%;
    border:none;
    border-radius:4px;
    background-color: var(--colorMain);
    color:#0f0f0f;
    font-size:16px;
    cursor:pointer;
}

/* style de select formation */
section .menu #select-formation{
    width:60%;
    padding:12px;
    border-radius:4px;
    border:none;
    outline:none;
    border:1.2px solid #757575;
    margin-top:4px;
    background-color: #2B2A2A;
    transition: 0.3s ease;
    color:#fff;
    font-size:16px
}


section .menu #select-formation:hover{
    background-color: #404040;
}

section .menu #select-formation:focus{
    border-color:var(--colorMain);
    background-color: #404040;
}



section .menu  {
    width:100%;
    min-height:88vh;
    margin-top:43px;
    padding:14px;
    background-color:#1E1E1E;
    border-radius:6px;
    border:1px solid black;
    color:#fff;
}

section .menu form {
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:20px;
    align-items:center ;
    justify-content: stretch;
    /* color:#fff; */
} 

section .menu form h3{
    grid-column:span 2;
    text-align:center;
}



section .menu form input,
section .menu form select
{
    width:100%;
    padding:12px;
    border-radius:4px;
    border:none;
    outline:none;
    border:1.2px solid #757575;
    margin-top:4px;
    background-color: #2B2A2A;
    transition: 0.3s ease;
    color:#fff;
    font-size:16px
}

section .menu form input:hover{
    background-color: #404040;
}

section .menu form input:focus{
    border-color:var(--colorMain);
    background-color: #404040;
}


section .menu form button{
    /* grid-column:span 2; */
    /* justify-self:center; */
    padding:14px;
    border:none;
    border-radius:4px;
    background-color: var(--colorMain);
    color:#0f0f0f;
    font-size:14px;
    margin:auto;
    width:100%;
    cursor:pointer;
    text-transform:uppercase;
    letter-spacing: 1px;
}






